:root {
    --white-color: #f2f2f2;
    --black-color: #0a111f;
    --gray-color: #9fa4ae;
    --blue-color: #466ec3;
    --green-color: #8bdf7c;
    --yellow-color: #fdb035;
    --red-color: #ee5858;
  }

:root.lightmode {
    --white-color: #f2f2f2;
    --black-color: #0a111f;
    --gray-color: #9fa4ae;
    --blue-color: #466ec3;
    --green-color: #8bdf7c;
    --yellow-color: #fdb035;
    --red-color: #ee5858;
  }
  
  :root.darkmode {
    --white-color: #0a111f;
    --black-color: #f2f2f2;
    --gray-color: #58585f;
    --blue-color: #14213d;
    --green-color: #2f8320;
    --yellow-color: #655a01;
    --red-color: #ba1212;
  }

* {
	padding:0;
	margin:0;
	vertical-align:baseline;
	list-style:none;
	text-decoration: none;
	border:0;
}

body {
    background: radial-gradient(circle at top right, var(--blue-color), var(--white-color));
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
}

/* navegação - controle de modo */

.nav{
    text-align: end;
    width: 100%;
}

.nav__image.lightmode, .nav__image.darkmode{
    width: 50px;
    text-align: end;
    padding: 50px 50px 0 0;
    cursor: pointer;
}

/* calculadora */

.calculator {
    height: 30rem;
    width: 20rem;
    background-color: var(--black-color);
    justify-content: center;
    align-items: center;
    margin:auto auto;
    padding: 2rem;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.calculator__display{
    margin: 0 auto;
}

.calculator__display--input{
    height: 3rem;
    width: 19rem;
    border-radius: 10px;
    margin: 0 auto 2rem auto;
    background-color: var(--white-color);
    text-align: center;
    color: var(--black-color);
    font-size: 1.5rem;
}

.calculator__grid--keys {
    display: grid;
    grid-template-areas: 
        "btn01 btn02 btn03 btn04"
        "btn05 btn06 btn07 btn08"
        "btn09 btn10 btn11 btn17"
        "btn12 btn13 btn14 btn17"
        "btn16 btn16 btn15 btn18";
    gap: 1.25rem;

}

.charKey {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: var(--black-color);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.charKey.operator, .float{
    background-color: var(--gray-color);
}

.charKey.number{
    background-color: var(--white-color);
}

#clearButton {
    grid-area: btn15;
    background-color: var(--green-color)
}

#equalButton {
    grid-area: btn17;
    background-color: var(--yellow-color)
}

/* As demais áreas */
[data-value="1"] { grid-area: btn05; }
[data-value="2"] { grid-area: btn06; }
[data-value="3"] { grid-area: btn07; }
[data-value="4"] { grid-area: btn09; }
[data-value="5"] { grid-area: btn10; }
[data-value="6"] { grid-area: btn11; }
[data-value="7"] { grid-area: btn12; }
[data-value="8"] { grid-area: btn13; }
[data-value="9"] { grid-area: btn14; }
[data-value="0"] { grid-area: btn16; }
[data-value="+"] { grid-area: btn01; }
[data-value="-"] { grid-area: btn02; }
[data-value="*"] { grid-area: btn03; }
[data-value="/"] { grid-area: btn04; }
[data-value="n"] { grid-area: btn08; }
[data-value='.'] { grid-area: btn18;}

footer{
    padding: 0 0 10px 10px;
    color: var(--black-color);
}

footer a{
    color: var(--black-color);
}

/* responsividade */
@media (max-width: 481px) {
    .nav__image.lightmode, .nav__image.darkmode{
        text-align: center;
        padding: 3rem 0 0 0;
        margin: auto 0;
    }

    .nav{
        text-align: center;
    }
    .calculator{
        margin: 3rem auto auto auto;
    }
  }